.reelup-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding-block: 12px;
}

@media (max-width: 900px) {
  .reelup-carousel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .reelup-carousel {
    grid-template-columns: repeat(2, 1fr);
  }
}
